.container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  /* align-items: center; */
  flex-grow: 1;
  padding: 1rem;
}

.visitlink {
  color: #1b92ff;
  cursor: pointer;
  margin: 0;
}

.delete {
  color: #d6294a;
}

.visitlink:hover {
  text-decoration: underline;
}
.delete:hover {
  text-decoration: underline;
}
